<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tasks </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input
      type="text"
      placeholder="Enter task"
      [(ngModel)]="taskName"
    ></ion-input>
    <div class="item-note" position="end">
      <ion-button ion-button (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-item>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <strong> Task </strong>
        </ion-col>
        <ion-col size="5">
          <strong> Action </strong>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let todo of taskList, let i = index">
        <ion-col size="7">{{todo.name}}</ion-col>
        <ion-col class="item-note" item-end>
          <ion-button color="success" clear (click)="updateTask(todo.id)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" clear (click)="deleteTask(todo.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
