<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input type="text" placeholder="Enter Task" [(ngModel)]="taskName"></ion-input>
    <div>
      <ion-button (click)="addTask()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-item>

  <div class="ion-padding">
    <ion-grid>
      <ion-row style="background-color: rgb(195, 195, 238);">
        <ion-col class="ion-text-center" size="6">
          <strong>Task</strong>
        </ion-col>
        <ion-col class="ion-text-center" size="6">
          <strong>Action</strong>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let data of taskList">
        <ion-col class="ion-text-center ion-padding" size="6">
          {{ data.name }}
        </ion-col>
        <ion-col class="ion-text-center item-note" size="6">
          <ion-button (click)="show(data, 'has successfully finished Ionic Training')" color="primary">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="updateTask(data.id)" color="success">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteTask(data.id)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="apps-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="show()">
        <ion-icon name="alert-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="getNotification()">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="getCurrentPosition()">
        <ion-icon name="location-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="ionicToast()">
        <ion-icon name="cloud-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card *ngIf="photo">
    <ion-card-content>
      <img [src]="photo">
    </ion-card-content>
  </ion-card>
</ion-content>